@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
}
.navbar-icon{
  padding-left: 20px;
}
.navbar-links a {
  text-decoration: none;
  margin: 0 20px;
  color: black;
}
.navbar-links a:hover,
.navbar-links a:active {
  border-bottom: 2px solid black;
}
.navbar-buttons .btn {
  padding: 8px 15px;
  margin-left: 25px;
  border-radius: 10px;
}

.btn-black {
  background-color: black;
  color: rgb(245, 236, 112);
  margin-right: 100px;
}
.btn-grey {
  background-color: rgba(181, 207, 228, 0.637);
}

/* Responsive Design */
@media (max-width: 820px) {
  .navbar-buttons .btn-black {
    margin-right: 20px; 
  }
}

@media (max-width: 740px) {
  .navbar {
    padding: 10px; 
  }
  .navbar-buttons .btn {
    margin-left: 10px; 
  }
}
@media (max-width: 690px) {
  .navbar {
    padding: 5px; 
  }
  .navbar-buttons .btn {
    margin-left: 5px; 
  }
}
@media (max-width: 670px) {
  .navbar {
    padding: 2px; 
  }
  .navbar-buttons .btn {
    margin-left: 2px; 
  }
}
@media (max-width: 659px) {
  .navbar {
    padding: 0; 
  }

  .navbar-links a {
    margin: 0 5px; 
  }

  .navbar-buttons .btn {
    margin-left: 5px; 
  }
  
}

@media (max-width: 568px) {
  .navbar {
    padding: 0; 
  }

  .navbar-links a {
    margin: 0 2px; 
  }

  .navbar-buttons .btn {
    margin-left: 2px; 
  }
  
}
@media (max-width: 544px) {
  .navbar-links,
  .navbar-buttons {
    display: block;
    text-align: center;
  }
  .navbar-links a,
  .navbar-buttons .btn {
    display: block;
    margin: 5px auto;
  }
  
}